<!DOCTYPE html>
<html>
  <head>
    <title>Scrollapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="p-5">
      <%= link_to "Posts (Frames autoscroll)", posts_path, class: "bg-zinc-300" %>
      <br>
      <%= link_to "Comments (Streams click to show more)", comments_path, class: "bg-zinc-300" %>
    </div>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
